/* FONTS */
@font-face {
  font-family: 'Caesar Dressing';
  src: url('../font/CaesarDressing.woff2') format('woff2'),
      url('../font/CaesarDressing.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

